<!--Only shows if a jersey was found-->
<div *ngIf="jersey; else noJersey">
    
    <h2>{{jersey.name}}  {{jersey.number}}</h2>
    <div><span>ID: </span>{{jersey.id}}</div>
    <div><span>Cost: </span>{{jersey.cost}}</div>

    <!--The size dropdown menu-->
    <div>
        <label for="sizes">Size: </label>
        <select #sizes name="sizes" id="sizes" (change)="changeSize(sizes.value)">
            <option *ngFor="let size of sizeList" [value]
            ="size">{{size}}</option>
        </select>
    </div>

    <div *ngIf="jersey.home; else elseBlock">
        <span>Home Color</span>
    </div>

    <!--buttons to click-->
    <div>
        <button type="button" (click)="back()">Go Back</button>
        <button type="button" (click)="buy()">Buy</button>
        <span *ngIf="owner">
            <button>Update</button>
            <button type="button" (click)="delete()">Delete</button>
        </span>
    </div> <br>

    <!--Service to tell when you bought stuff-->
    <div *ngIf="messageService.messages.length">
        <h3>Messages</h3>
        <button type="button" class="clear" (click)="messageService.clear()">Clear messages</button>
        <div *ngFor='let message of messageService.messages'>{{message}}</div>
    </div>
</div>

<!--Alternative to color of jersey-->
<ng-template #elseBlock>
    <span>Away Color</span>
</ng-template>

<!--Alternative for when there is no jersey-->
<ng-template #noJersey>
    <span>Jersey no longer exists</span>
    <div>
        <button type="button" (click)="back()">Go Back</button>
    </div>
</ng-template>