<h2>Update Jersey</h2>

<div>
    <div><span>Name:   <input type="text" value="{{jersey.name}}" [(ngModel)]="name"/></span></div>
    <div><span>Number: <input type="number" value="{{jersey.number}}" [(ngModel)]="number"/></span></div>
    <div><span>Cost:   <input type="number" value="{{jersey.cost}}" [(ngModel)]="cost"/></span></div>
    <div><span>Is player home? <input type="checkbox"  checked="{{jersey.home}}" [(ngModel)]="isHome"/></span></div>
</div>

<div>
    <!-- <button type="button" (click)="back()">Go Back</button> -->
    <span *ngIf="owner">
        <button type="button" (click)="save()">Save Changes</button>
    </span>
</div>
