<h2>Update Jersey</h2>
<h3>Original</h3>
<div>
    <div><span>Name: </span>{{jersey.name}}</div>
    <div><span>Number: </span>{{jersey.number}}</div>
    <div><span>ID: </span>{{jersey.id}}</div>
    <div><span>Cost: </span>{{jersey.cost}}</div>
    <div *ngIf="jersey.home; else elseBlock">
        <span>Home Color</span>
    </div>
    <ng-template #elseBlock>
        <span>Away Color</span>
    </ng-template>
</div><br>

<div>
    Enter player name: <input type="text" [(ngModel)]="name"/>
    Enter player number: <input type="number" [(ngModel)]="number"/>
    Enter jersey cost: <input type="number" [(ngModel)]="cost"/>
    Is player home? <input type="checkbox" [(ngModel)]="isHome"/>
</div>

<div>
    <!-- <button type="button" (click)="back()">Go Back</button> -->
    <span *ngIf="owner">
        <button type="button" (click)="save()">Save Changes</button>
    </span>
</div>
