<div id="search-component">
    <label for="search-box">Jersey Search</label>

    <input  #searchBox id="search-box" (keyup)="search($event)" />
    <!-- <body onload='search("")'>
      hi
    </body> -->
      
    
    <!-- ng-include="partialViewUrl" onload="search()" -->
    <ul class="search-result">
      <li *ngFor="let jersey of jerseys$ | async" >
        <a *ngIf="jersey.home; else elseBlock" routerLink="/view/{{jersey.id}}/{{username}}">
          {{jersey.name}} {{jersey.number}} Home
        </a>
        <ng-template #elseBlock>
          <a routerLink="/view/{{jersey.id}}/{{username}}">{{jersey.name}} {{jersey.number}} Away</a>
        </ng-template>
      </li>
    </ul>
  </div>

