<p>add-jersey works!</p>
<div>
    Enter player name: <input type="text" [(ngModel)]="name"/>
    Enter player number: <input type="number" [(ngModel)]="number"/>
    Enter jersey cost: <input type="number" [(ngModel)]="cost"/>
    <!--Enter jersey size: <select ng-model="size"><option ng-repeat="val in sizes" value="{{sizes.val}}">{{sizes.val}}</option></select>-->
    Is player home? <input type="checkbox" [(ngModel)]="isHome"/>
    <button (click)="addJersey()"> Create! </button>
</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    